/* Nhiều người đọc  */
a {
    text-decoration: none;
}

#sidebar {

    padding: 0;
}

.sidebar_title {
    text-transform: uppercase;
    border-left: 5px solid #1ac91a;
    padding-left: 15px;
    font-weight: 700;

}

#sidebar .card {
    border: none;
}


.sidebar_thumbnail {
    display: block;
    height: 95%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.sidebar_thumbnail_img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    transition: transform 0.5s ease;

}

.sidebar_thumbnail_img:hover {
    opacity: 1;
}


/*  */
.sidebar_content_intro {
    background-color: #fff;
    position: relative;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);   

}

.sidebar_content_intro_thumbnail {
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}


.sidebar_content_intro_img {
    transition: opacity 0.3s ease;
    transition: transform 1s ease-in-out;
}

.sidebar_content:hover .sidebar_thumbnail, .sidebar_content_intro:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.sidebar_content:hover .sidebar_thumbnail_img, .sidebar_content_intro:hover .sidebar_content_intro_img {
    transform: scale(1.1);
}

.sidebar_content_intro_new {
    position: absolute;
    display: block;
    top: -10px;
    left: 0;
}

.sidebar_content_intro_new img {
    display: block;
    width: 100px;
    height: auto;
}

.sidebar_contents {
    box-shadow: -5px 0 8px -2px rgba(139, 128, 128, 0.3), 5px 0 8px -2px rgba(139, 128, 128, 0.3);
    border-left: 1px solid #e2dcdc;
    border-right: 1px solid #e2dcdc;
    background-color: #fff;
    padding: 0px 20px;
    width: 100%;
}

.sidebar_content {
    border-bottom: 1px solid #c9c3c3 !important;
    border-radius: 0px !important;
    padding: 1.5rem 0 1.5rem 0;
}

.sidebar_content:last-child {
    border-bottom: none !important;
}

.sidebar_description {
    display: flex;
    align-items: center;
}

.sidebar_description_infor {
    font-size: 16px;
    color: #254869;
    opacity: 0.7;
    margin: 0;
    padding: 0;
}

.sidebar_description:hover {
    opacity: 1;
}

.sidebar_description:hover .sidebar_description_infor {
    color: #3885cd;
}
